{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}
{% block main %}
	<form action="/register", method="POST">
		<div class="form-group">
			<label for="inputUsername">Email</label>
			<input type="email" class="form-control" autofocus id="email" name="email" placeholder="Please enter your email"><br>
		</div>
		<div class="form-group">
			<label for="inputUsername">Username</label>
			<input type="text" class="form-control" autofocus id="username" name="username" placeholder="Please enter your username"><br>
		</div>		
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password"><br>
			<small id="isPasswordValid" class="form-text text-muted">Password should be at least 8 charachers long</small>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Password</label>
			<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
			<small id="isPasswordMatch" class="form-text text-muted"></small>
		</div>
		<div class="form-group">
			<button type="submit" id="registerSubmit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	<script src="{{url_for('static', filename='register.js')}}"></script>
{% endblock %}